<!doctype html>
<html lang="en">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text\html; charset=UTF8"/>
</head>
<body>
<div> Hello user </div>
<a href="/registration">Нажмите для регистрации:</a>

</body>
</html>