<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<div>Введите данные:</div>
<div>
    <form method="post" action="/login">
        <div>Имя : <label><input type="text" name="username"
                                 placeholder="Имя пользователя"></label></div>
        <div>Пароль : <label><input type="text" name="password"  placeholder="Пароль"></label></div>
        <button type="submit">Ввести</button>
    </form>
</div>
</body>
</html>