<!doctype html>
<html lang="en">
<head>
    <title>Registration</title>
</head>
<body>
<div>Форма регистрации</div>
<div>
    <form method="post" action="/registration">
        <div>Имя : </div>
            <input type = "text" name = "username" placeholder="username">
        <div>Пароль : </div>
            <input type = "text" name = "password" placeholder="password">
        <button type="submit">Ввести</button>
    </form>
</div>
<h3>Регистрировались ранее? - перейдите на страницу входа.</h3>
<a href="/login">Войти в систему: </a>
</body>
</html>